@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Jost", serif;
  overflow-x: hidden;
}
@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}
